[Unit]
Description=Py Keyboard HMI Webcam Fullscreen Service
After=graphical.target
Wants=graphical.target

[Service]
Type=simple
User=makem
Group=makem
WorkingDirectory=/home/makem/Git/poulpe/py-keyboard-hmi
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/makem/.Xauthority
ExecStart=python3 /home/makem/Git/poulpe/py-keyboard-hmi/webcam.py


[Install]
WantedBy=graphical.target




